@import "bootstrap";
@import "font-awesome";
@font-face {
  font-family: FontAwesome;
  src: url(/assets/styles/fonts/fontawesome-webfont.woff);
}

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

body{
  background: Honeydew;
}

.eb-opening-header {
  text-align: center;
  position: relative;
  border-bottom: solid 5px moccasin;
  background: salmon;
  padding-bottom: 60px;
  padding-top: 60px;

  h1, small {
    font-weight: 700;
    display: inline;
    background: mintcream;
    padding: 5px;
    color: black;
  }
  p {
    font-weight: 500;
    color: mintcream;
    font-size: 1.7em;
  }
}

.eb-opening-header.shrink-down {
  visibility: hidden;
}

.eb-opening-panel {
  position: relative;
  background: papayawhip;
  padding-top: 20px;
  padding-bottom: 20px;
}
.eb-social-links-panel {
  border-top: solid 5px moccasin;
  position: relative;
  background: salmon;
  padding-top: 10px;
}

.eb-social-links-panel.fixed {
  position: fixed;
  top: 0px;
  margin: 0px 0px 20px 0px;
  width: 100%;
  z-index: 99999;
  border-bottom: 5px solid moccasin;
}

.eb-fixed-logo a {
  color: black;
}

.container.cta {
}

.eb-main-content {
  margin-top: 40px;
}

ul.social-links {
  list-style: none;
  float: right;
  a {
    color: honeydew;
  }
  a:hover {
    color: papayawhip;
  }
  li {
    display: inline;
    padding: 0px 10px 0px 0px;
  }
}

.eb-my-projects {
  padding-left: 10px;
}

dl.eb-project-list {
  padding: 0px;
  dt {
    a{
      color: salmon;
      padding: 3px;
    }
    a:hover {
      background: salmon;
      color: mintcream;
      text-decoration: none;
      padding: 3px;
    }
  }
  dd {
    padding: 3px;
  }
}

div.eb-latest-tweets {
  float: right;
  padding-left: 10px;
}

.loader {
  padding-top: 30px;
  text-align: center;
}

.eb-fixed-logo {
  display: inline;
  position: relative;
  float: left;
  top: 5px;
  h4 {
    display: inline;
    background: honeydew;
    padding: 5px;
  }
}

//Post Listing related items

ul.eb-post-listing {
  list-style: none;
  padding: 0px;
  li {
    a{
      color: salmon;
      padding: 3px;
    }
    a:hover {
      background: salmon;
      color: mintcream;
      text-decoration: none;
      padding: 3px;
    }
    p.post-excerpt {
      padding-left: 5px;
    }
    h5.post-subtitle {
      padding-left: 5px;
    }
  }
}
#eb-project-list-collapse {
  a {
    color: salmon;
  }

}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .eb-opening-header {
    text-align: left;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}



