<dt><a href="http://github.com/">Contexual</a> </dt>
<dd>Reader service utilizing the <a href="http://readability.com">Readability</a> API that allows you to share contextual highlighting with friends.</a></dd>
<dt><a href="https://github.com/ebits/contextual-chrome">Contexual Chrome Extension</a></dt>
<dd>Chrome Extension designed to take selected text from a page and send it to the Contextual service and receive a shortened URI for sharing.</dd>
<dt><a href="http://postmorty.com">Postmorty</a></dt>
<dd>Manage internal outage postmortems cutting resolution time down to minutes instead of hours in some cases.</dd>

