<div class="eb-social-links-panel" style="background: salmon">
    <div class="container">
        <div class="eb-fixed-logo" style="display: none;">
            <h4><a href="{{site.url}}">Mick Ryan</a></h4>
        </div>
        <ul class="social-links">
            <li><a href="http://github.com/ebits"><i class="fa fa-github-square fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/pub/mick-ryan/22/89/230"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li><a href="https://twitter.com/evilbits"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="/about.html"><i class="fa fa-qrcode fa-2x"></i></a></li>
        </ul>
    </div>
</div>
