<html>
    {% include _head.html %}
    <link rel="stylesheet" href="/assets/styles/css/no_hero.css"/>
    {% include _javascripts.html %}
    <script src="/assets/js/no_hero.js"></script>
<body>
    {% include _social_links_panel.html %}
    <div class="container eb-main-content">
        <div class="row">
            <div class="col-md-9">
                {{content}}

                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'evilbits'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

            </div>
            <div class="col-md-3 eb-my-projects">
                <h3>My Latest Projects</h3>
                <dl class="eb-project-list">
                    {% include _project_list.html %}
                </dl>
            </div>
            <div class="col-md-3 eb-latest-tweets">
                <h3>Latest Tweets</h3>
                <div id="tweet">
                    <a class="twitter-timeline" href="https://twitter.com/evilbits" data-widget-id="548681371455991808">Tweets by @evilbits</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
