<html>
    {% include _head.html %}
    <link rel="stylesheet" href="/assets/styles/css/no_hero.css"/>
    {% include _javascripts.html %}
    <script src="/assets/js/no_hero.js"></script>
<body>
    {% include _social_links_panel.html %}
    <div class="container eb-main-content">
        <div class="row">
            <article class="full-post">
                {{content}}
            </article>
            <!--<div class="col-md-3 col-sm-3 hidden-xs eb-my-projects">-->
                <!--<h3>My Latest Projects</h3>-->
                <!--<dl class="eb-project-list">-->
                    <!--{% include _project_list.html %}-->
                <!--</dl>-->
            <!--</div>-->
            <!--<div class="col-md-3 hidden-sm hidden-xs eb-latest-tweets">-->
                <!--<h3>Latest Tweets</h3>-->
                <!--<div id="tweet">-->
                    <!--<a class="twitter-timeline" href="https://twitter.com/evilbits" data-widget-id="548681371455991808">Tweets by @evilbits</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</body>
</html>
